img {display : inline-block ; width : 200 ; height : 200px ; margin : 1% ;}  
div{ display : inline-block ; width : 200 ; height : 200px ; margin : 1% }

.triangle{clip-path : polygon(0 100%, 50% 0, 100% 100%);}

.triangleinverse {
    clip-path : polygon(0 100%, 50% 0, 100% 100%);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }