<!DOCTYPE html>
<html>
<body>
    <div class="dropdown">
        <button (click)="myFunction()" class="dropbtn">Dropdown</button>
        <div id="myDropdown" class="dropdown-content">
            <a routerLink="/acceuil">Home</a>
            <a routerLink="/photoprofil">Profile</a>
            <a routerLink="/sante">Santé</a>
            <a routerLink="/infopage">Les plages</a>
            <a routerLink="/webcam">Webcam</a>
            <a routerLink="/meteo">Météo plages</a>
        </div>
      </div> 
</body>
</html>

