<!DOCTYPE html>
<html>
<body>
    <div class="dropdown">
        <button (click)="myFunction()" class="dropbtn">Dropdown</button>
        <div id="myDropdown" class="dropdown-content">
            <a routerLink="/test">Home</a>
            <a href="#profile">Profile</a>
            <a href="#paramètre">Paramètre</a>
            <a href="#activité">Activité</a>
            <a href="#communauté">Communauté</a>
            <a href="#historique">Historique</a>
            <a href="#plages">Les plages</a>
            <a href="#favoris">Favoris</a>
        </div>
      </div> 
</body>
</html>

