

.arrow-p {
    
    width: 0; 
    height: 0; 
    border-left: 300px solid transparent;
    border-right: 300px solid transparent;
    border-top: 300px  solid #5899c5;
    display: inline-block; 

  }
.arrow-up {
    

    width: 0; 
    height: 0; 
    border-left: 300px solid transparent;
    border-right: 300px solid transparent;
    border-bottom: 300px  solid #121640;
    display: inline-block; 
    margin-left: -300px;

  }
  
  .arrow-down {
    width: 0; 
    height: 0; 
    border-left: 300px solid transparent;
    border-right:300px solid transparent;
    margin-left: -300px;
    border-top: 300px solid #5899c5;
    display: inline-block; 

  }
  
  
  .contain {
    
    margin-top: 10%;
    margin-left: 10%;
    position: absolute; 
    z-index: 1;
  }
  .titre {
    
    margin-top: 7%;
   
  }
  .tips {
    margin-top: 17%;
    margin-left: 43%;
    position: absolute; 
    z-index: 2;
  }
  
  
  .m {
    margin-top: 12%;
    margin-left: 25%;
    position: absolute; 
    z-index: 2;
  }
  .b {
    margin-top: 12%;
    margin-left: 63%;
    position: absolute; 
    z-index: 2;
  }