<app-navbar></app-navbar>

<div class= "titre">
<h1 style="color:#121640;font-size: 400%;text-align:center;font-family:Bookman;">Quelques conseils santé</h1>
</div>

<div class= "contain">
    
    <div class="arrow-p">

    </div>
<div class="arrow-up">
</div>
<div class="arrow-down">

</div>
</div>
<div class="tips">

    <p style="color:#b99e4d;"><b>AVANT D’ALLER SURFER</b></p>
    <br>
    <p style = "text-align:center;color:#b99e4d;"><i>Ne pas oublier la crème solaire </i> </p>
    <p style = "text-align:center;color:#b99e4d;"><i>S’hydrater</i></p>
    <p style = "text-align:center;color:#b99e4d;"><i>Aller au toilettes</i></p>
    </div>
    <div class="m">

        <p style="color:#121640;text-align:center"><b>LES MEFAITS</b></p>
                <br>
        <p style = "text-align:center;color:#121640;"><i>Irritations cutanées</i></p>
        
        <p style = "text-align:center;color:#121640;"><i>Gastro-entérite</i></p>
        <p style = "text-align:center;color:#121640;"><i>Désydratation</i></p>
       <p style = "text-align:center;color:#121640;"><i>Otite </i> </p>
        </div>
        <div class="b">

            <p style="color:#121640;text-align:center"><b>LES BIENFAITS</b></p>
                    <br>
            <p style = "text-align:center;color:#121640;"><i>Amélioration de l’équilibre </i></p>
            
            <p style = "text-align:center;color:#121640;"><i>Renforcement musculaire</i></p>
            <p style = "text-align:center;color:#121640;"><i>Bonne posture </i></p>
           <p style = "text-align:center;color:#121640;"><i>Endurance</i> </p>
            </div>