

<div class="grid">
<div class= "container">
    <img src="assets/lacanau.jpg" class="image" alt="Plage de Lacanau" >
  
    <div class="overlay"></div>
        <div class="middle">
          <a href="https://www.medoc-atlantique.com/pratique/webcams/webcam-lacanau/"><button class="button" >Lacanau</button></a>
        </div>

  </div>
  <div class= "container">
      
    <img src="assets/hourtin.jpg" class="image" alt="Plage de Hourtin" >
  
    <div class="overlay"></div>
        <div class="middle">
          <a href="https://www.medoc-atlantique.com/pratique/webcams/webcam-hourtin/"><button class="button" >Hourtin</button></a>
        </div>

  </div>
  <div class= "container">
    <img src="assets/capbreton.jpg" class="image" alt="Capbreton" >
  
    <div class="overlay"></div>
        <div class="middle">
          <a href="https://www.landesatlantiquesud.com/webcam/"><button class="button" >Capbreton</button></a>
        </div>

  </div>
  <div class= "container">
    <img src="assets/biscarrosse.jpg" class="image" alt="Biscarrosse" >
  
    <div class="overlay"></div>
        <div class="middle">
          <a href="https://www.biscagrandslacs.com/decouvrir/webcams/webcams-plages-oceanes-de-biscarrosse"><button class="button" >Biscarrosse</button></a>
        </div>

  </div>
  <div class= "container">
    <img src="assets/saintmalo.jpg" class="image" alt="Saint Malo" >
  
    <div class="overlay"></div>
        <div class="middle">
          <a href="https://www.webcam-hd.fr/webcam?id=148&camera=saint-malo--la-baie"><button class="button" >Saint Malo</button></a>
        </div>

  </div>

</div>