
<div class="middle">
    <button class="button" >Inscription</button>
    <button class="button2" >Connexion</button>
    
  </div>
<div class= "titre">
    <h1 style="color:#121640;font-size: 400%;text-align:center;font-family:Bookman;">Acceuil</h1>
    </div>
    
<div class= "contain">
<img src ="../assets/p.jpg"  class ="decoupe_triangle" />


<img src ="../assets/j.jpg"  class ="decoupe_triangle" />
<img src ="../assets/s.jpg"  class ="decoupe_triangle" />
</div>

<button class="button3">Information</button>
    <button class="button4" >Meteo</button>
    <button class="button5" >Session</button>
