<app-navbar></app-navbar>

<div class="middle">
    <div id="inscription" >
      <a routerLink="/page-inscription">Inscription</a>
    </div>
    <div id="Connexion" >
      <a routerLink="/page-connexion">Connexion</a>
    </div>
    
  </div>
<div class= "titre">
    <h1 style="color:#121640;font-size: 400%;text-align:center;font-family:Bookman;">Acceuil</h1>
    </div>
    
<div class= "contain">
<img src ="../assets/p.jpg"  class ="decoupe_triangle" />


<img src ="../assets/j.jpg"  class ="decoupe_triangle" />
<img src ="../assets/s.jpg"  class ="decoupe_triangle" />
</div>
