<app-navbar></app-navbar>

<form>
    <div align = center>
        <div>
            <legend>Ville</legend>  
            <input type="search" id="maRecherche" name="q"
            placeholder="Recherche sur le site…" required>
        </div>
        <div>
              <label type="text"> ou </label>
        </div>
        <div>
            <legend>Plage</legend>
            <input type="search" id="maRecherche" name="q"
            placeholder="Recherche sur le site…" required>
        </div>
        <div>
            <button>Rechercher</button>
            <span class="validity"></span>
        </div>
    </div>
</form>